<!-- Code highlighting -->
<script src="/assets/js/prism.js"></script>
<script src="/assets/js/reveal.js"></script>

<!-- MathJax line breaks -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      "SVG": {linebreaks: { automatic: true }}
    });
    window.addEventListener('resize', MJrerender);
    function MJrerender(){
    MathJax.Hub.Queue(["Rerender",MathJax.Hub])
    };
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_SVG-full"></script>


<!-- Tooltip code from https://osvaldas.info/elegant-css-and-jquery-tooltip-responsive-mobile-friendly -->
<script>
    $( function()
    {
        var targets = $( '[rel~=tooltip]' ),
            target  = false,
            tooltip = false,
            title   = false;
    
        targets.bind( 'mouseenter', function()
        {
            target  = $( this );
            tip     = target.attr( 'title' );
            tooltip = $( '<div id="tooltip"></div>' );
    
            if( !tip || tip == '' )
                return false;
    
            target.removeAttr( 'title' );
            tooltip.css( 'opacity', 0 )
                .html( tip )
                .appendTo( 'body' );
    
            var init_tooltip = function()
            {
                if( $( window ).width() < tooltip.outerWidth() * 1.5 )
                    tooltip.css( 'max-width', $( window ).width() / 2 );
                else
                    tooltip.css( 'max-width', 340 );
    
                var pos_left = target.offset().left + ( target.outerWidth() / 2 ) - ( tooltip.outerWidth() / 2 ),
                    pos_top  = target.offset().top - tooltip.outerHeight() - 20;
    
                if( pos_left < 0 )
                {
                    pos_left = target.offset().left + target.outerWidth() / 2 - 20;
                    tooltip.addClass( 'left' );
                }
                else
                    tooltip.removeClass( 'left' );
    
                if( pos_left + tooltip.outerWidth() > $( window ).width() )
                {
                    pos_left = target.offset().left - tooltip.outerWidth() + target.outerWidth() / 2 + 20;
                    tooltip.addClass( 'right' );
                }
                else
                    tooltip.removeClass( 'right' );
    
                if( pos_top < 0 )
                {
                    var pos_top  = target.offset().top + target.outerHeight();
                    tooltip.addClass( 'top' );
                }
                else
                    tooltip.removeClass( 'top' );
    
                tooltip.css( { left: pos_left, top: pos_top } )
                    .animate( { top: '+=10', opacity: 1 }, 50 );
            };
    
            init_tooltip();
            $( window ).resize( init_tooltip );
    
            var remove_tooltip = function()
            {
                tooltip.animate( { top: '-=10', opacity: 0 }, 50, function()
                {
                    $( this ).remove();
                });
    
                target.attr( 'title', tip );
            };
    
            target.bind( 'mouseleave', remove_tooltip );
            tooltip.bind( 'click', remove_tooltip );
        });
    });
</script>

<!-- Collapsible -->
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("collapsible--active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
                content.style.borderWidth = "0em";
                content.style.visibility = "hidden";
            } else {
                content.style.maxHeight = "fit-content";// content.scrollHeight + "px";
                content.style.borderWidth = "0.3rem";
                content.style.visibility = "visible";
            } 
        });
    }
</script>

<!-- Back to top button -->
<script>
    //Get the button
    var mybutton = document.getElementById("toTopBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.visibility = "visible";
            mybutton.style.opacity = 1;
        } else {
            mybutton.style.visibility = "hidden";
            mybutton.style.opacity = 0;
        }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        window.scrollTo({top: 0, behavior: 'smooth'});
        // document.getElementById('topScroll').scrollIntoView({behavior: 'smooth'});
    }
</script>

<!-- Modal images -->
<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>
<!-- The script -->
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementsByClassName('image__modal');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    var showModal = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    for (var i = 0; i < img.length; i++) {
        img[i].addEventListener('click', showModal);
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
        modal.style.display = "none";
    }
    $('body').keydown(function(e){
        if (e.which==27){
            modal.style.display = "none";
        }
    });
</script>

<!-- Image caption --> 
<script>
    $.each($(".image__caption"), function() {
    var altText = $(this).attr('alt');

    var newDiv = document.createElement("div");
    newDiv.innerHTML = altText;
    newDiv.classList.add('caption__text', 'round');
    this.after(newDiv);
    });
</script>    