<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">

        <div class="navbar">
            
            <a href="{{ "" | absolute_url }}" class="logo">{{ site.title }}</a>

            <div></div>
            
            <div class="navbar-right">
                {% assign navlist = site.html_pages | where_exp:"item","item.nav-menu >= 0" | sort: 'nav-menu' %}
                {% for page in navlist %}
                    <a href="{{ page.url | absolute_url }}">{{ page.title }}</a>
                {% endfor %}
            </div>
        </div>
    </header>