<!-- Tutorial grid display and load more posts button -->
<script>
    var postsPerPage = {{page.previewPostsPerPage}};

    var loadButton = document.getElementById("loadMorePostsBtn");
    var previewGrid = document.getElementById("postPreviewGrid");

    {% assign itemList = site.posts | where:"category", page.previewCategory%}
    var previewIndex=[
        {% for post in itemList %}
            {
                date: "{{ post.date | date: "%d %b %Y"}}",
                title: "{{post.title}}",
                videoUrl: "{{post.preview-video}}",
                url: "{{ site.baseurl }}{{ post.url }}",
                blurb: "{{post.blurb}}"
            }{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];
    
    var pageLimit = Math.min(previewIndex.length, postsPerPage);
    for(i = 0; i < pageLimit; i++){
        addPostPreview(i);
    }
    if(pageLimit == previewIndex.length)
    {
        loadButton.style.display = "none";
        loadButton.style.visibility = "hidden";
        loadButton.style.opacity = 0;
    }

    var previousLimit = pageLimit;
    function increasePageLimit() {
        pageLimit += postsPerPage;
        pageLimit = Math.min(pageLimit, previewIndex.length);

        for(j = previousLimit; j < pageLimit; j++)
        {
            addPostPreview(j);
        }
        previousLimit = pageLimit;

        if(pageLimit == previewIndex.length)
        {
            loadButton.style.display = "none";
            loadButton.style.visibility = "hidden";
            loadButton.style.opacity = 0;
        }
    }

    function addPostPreview(i){
        var previewContainer = document.createElement('div');
        previewContainer.classList.add('container', 'video__container', 'preview', 'responsive', 'round');
        previewGrid.appendChild(previewContainer);

        var post = previewIndex[i];
        
        if(post.videoUrl != "")
        {
            var videoLink = document.createElement('a');
            videoLink.href = post.url;

            var video = document.createElement('video');
            video.src = "/" + post.videoUrl;
            video.autoplay = true;
            video.muted = true;
            video.loop = true;

            videoLink.appendChild(video);
            previewContainer.appendChild(videoLink);
        }
        else
        {
            var emptyContainer = document.createElement('div');
            emptyContainer.style.paddingTop = "56.25%";
            previewContainer.appendChild(emptyContainer);
        }
        

        var captionContainer = document.createElement('div');
        captionContainer.classList.add('caption__text--overlay', 'caption__text--fill');

        var captionLink = document.createElement('a');
        captionLink.href = post.url;

        var captionTitle = document.createElement('h1');
        captionTitle.innerHTML = post.title;

        captionLink.appendChild(captionTitle);
        captionContainer.appendChild(captionLink);

        if(post.blurb != "")
        {
            var blurbText = document.createElement('p');
            blurbText.innerHTML = post.blurb;
            captionContainer.appendChild(blurbText);
        }

        var date = document.createElement('p');
        date.innerHTML = post.date;
        date.classList.add('date');
        date.style.fontSize= "small";
        captionContainer.appendChild(date);

        previewContainer.appendChild(captionContainer);
    }
</script>