<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"> -->
  </head>
  <body>
    <header>
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

      <p>{{ site.description | default: site.github.project_tagline }}</p>
    </header>
    <section>

    {{ content }}

    </section>
    <footer>
      <p>A website by Kelvin van Hoorn</p>
    </footer>
  </body>
</html>

