#footer{
    text-align: left;
    border-top: 0.2rem solid palette(divider);
    background-color: palette(bg);

    .socials__a{
        text-decoration: none;
    }

    .socials__container{
        // margin-top: 1rem;
        margin: 1rem;
    }

    #footer__socials{
        color: palette(text);
        font-size: xx-large;
        transition: ease-in-out 0.3s;
        // margin: 1em 0;
    }

    #footer__socials:hover{
        color: palette(accent1);
    }
}