#header{
    background: palette(bg);
    border-bottom: 0.2rem solid palette(divider);

    .navbar{
        position: relative;
        padding: 0.5rem;
        width: 100%;

        display: grid;
        grid-template-columns: auto 1fr auto;

        align-items: center;
    }

    .navbar a{
        color: palette(text);
        
        text-decoration: none;
        text-align: center;
        font-size: large;
        display: inline-block;

        padding: 0.3em;
        margin: 0.2em;

        background-color: palette(bg);
        border: 0.2em solid palette(accent1);
        border-radius: 0.5em;

        transition: all 0.3s ease-in-out;
    }     

    .navbar a:hover{
        background-color: palette(accent1);
        color: palette(text-alt);
    }

    .navbar .navbar-right{
    }

    .navbar .logo
    {
        font-weight: bold;
        font-size: xx-large;
        line-height: normal;
    }    
}