#header{
    .header-grid{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr $mediumdevice-width 1fr;
    }

    .title-box{
        display: block;
        align-items: center;

        padding: 0 3.5rem;
        
        text-align: center;
        width: 100%;
    
        background-color: var(--bg-main);
    }

    #navbar{
        background-color: var(--accent1);
        border-radius: var(--round-radius);
        margin: 0;

        ul{
            display: flex;
            list-style: none;
            word-break: keep-all;
            overflow-x: auto;
            white-space: nowrap;
            text-align: center;
            padding: 0.25rem 0.25rem;
            margin: 0;
        }

        a{
            font-size: larger;
            font-weight: 700;
            font-family: 'Palatino', serif;
            color: var(--bg-note);
            transition: 0.3s, visibility 0.5s, height 0.5s;
        }

        li{
            display: inline-block;
            padding: 0 0.25rem;
        }

        .theme-btn{
            color: var(--bg-note);
            font-size: larger;
        }

        @media screen and (max-width: $navbar-width){
            li{
                display: none;
            }
        }
    }
    
    @media screen and (max-width: $header-width){
        .header-grid{
            grid-template-columns: 0fr 1fr 0fr;

            top:0;
            left:0;
            width: 100%;
            z-index: 5;
        }
        #navbar{
            margin: 0 0.5rem;
        }
    }

    
}