* {
    box-sizing: border-box;
}

video {
    width: 100%;
    height: auto;
}

body {
    background-color: palette(bg);
    margin: 0;
    font-size: large;
}

.main-content{
    padding: 1rem;
    background-color: palette(bg-alt);
    border-left: 0.2rem solid palette(divider);
    border-right: 0.2rem solid palette(divider);
}

.main-grid{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr $mediumdevice-width 1fr;
}

@media screen and (max-width: $mediumdevice-width){
    .main-grid{
        grid-template-columns: 0fr 1fr 0fr;
    }
}