* {
    box-sizing: border-box;
}

video {
    width: 100%;
    height: auto;
}

body {
    background: palette(bg);
    margin: 0;
}

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 2em;
    z-index: 99;
    font-size: medium;
    outline: none;
    border: 0.2em solid palette(accent1);
    background-color: palette(bg);
    color: palette(text);
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.5em;
}

#toTopBtn:hover {
}

#toTopBtn:active{
    background-color: palette(accent1);
    color: palette(text-alt);
}
  
@media (hover: hover){
    #toTopBtn:hover {
    background-color: palette(accent1);
    color: palette(text-alt);
    }
}

.main-content{
    // margin-top: 5em;
    padding: 1em;
    background-color: palette(bg-alt);
}

.main-grid{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr $mediumdevice-width 1fr;
}

@media screen and (max-width: $mediumdevice-width){
    .main-content{
        margin-top: 0px;
    }
    .main-grid{
        grid-template-columns: 0fr 1fr 0fr;
    }
}